<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文字动态效果</title>
</head>
<body>
    <div class="container">
        <div class="effect-container">
            <h1><strong>1、用JS分割文本</strong></h1>
            <p class="landIn">Ano hi watashitachi mada shiranai no Fushigi no monogatari desu.</p>
        </div>
        <div class="effect-container">
            <h1><strong>2、attr()生成文本内容</strong></h1>
            <ul class="float-text-menu">
                <li><a href="#" data-text="Home">Home</a></li>
                <li><a href="#" data-text="Archives">Archives</a></li>
                <li><a href="#" data-text="Tags">Tags</a></li>
                <li><a href="#" data-text="Categories">Categories</a></li>
                <li><a href="#" data-text="About">About</a></li>
            </ul>
        </div>
    </div>
</body>
</html>