.viewport[data-v-3b2ce668]{width:300px;background:yellow;position:fixed;top:0;left:0;right:0;bottom:0;margin:auto;overflow-y:auto}.viewport .list[data-v-3b2ce668]{position:absolute;left:0;top:0}.viewport .list .row[data-v-3b2ce668]{height:var(--rowHeight)}

