
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,body{display:flex;flex-direction:column;height:100vh;width:100vw;justify-content:center;align-items:center;background-image:linear-gradient(rgba(16,16,16,0.8), rgba(16,16,16,0.8)),url(https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg);background-size:cover;font-size:10px}.container{height:100%;width:100%;overflow-x:hidden;display:flex;flex-direction:column;color:#fff}.container h1{font-size:2.2rem;line-height:3.4rem;padding-bottom:1.2rem;border-bottom:1px solid #ececec;font-weight:700;padding-left:2rem;margin-bottom:2rem;margin-top:2rem}.container .effect-container .landIn{margin:0 4em;font-size:4em;font-weight:600;display:flex;flex-wrap:wrap;line-height:1.8;font-family:Lora, serif;white-space:pre}.container .effect-container .landIn span{animation:landIn 0.8s ease-out both}@keyframes landIn{from{opacity:0;transform:translateY(-20%)}to{opacity:1;transform:translateY(0)}}.container .effect-container .float-text-menu{display:flex;flex-direction:column;list-style-type:none;margin:0 4em;font-size:4em;font-weight:600}.container .effect-container .float-text-menu li{width:max-content}.container .effect-container .float-text-menu li a{display:flex;padding:6px;color:white;font-family:Lato, sans-serif;text-decoration:none;overflow:hidden}.container .effect-container .float-text-menu li a span{position:relative;transition:0.3s}.container .effect-container .float-text-menu li a span::before{position:absolute;content:attr(data-text);transform:translateY(130%)}.container .effect-container .float-text-menu li a:hover span{transform:translateY(-130%)}

